<!DOCTYPE html>
<html>
  <head>
    <title>HW List</title>
    <!-- We've provided some styles for you, aren't we nice? -->
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  
  <body ng-app="Homework">

  <a href="/"><li>Main</li></a> <br>
  <a href="/about"><li>About</li></a>

    <div ng-controller="MainController" >
        <div class="homeworks" ng-repeat="hw in hws">
            <ul class="list_of_homeworks" ng-click="clicks(hw)">
                  {{ hw.assignment }}
            </ul>

            <div class="homework_info" ng-show="hw.click">
              <ul><a href="{{hw.url}}">{{hw.url}}</a></ul>
              <ul>{{ hw.status }}</ul>
            </div>
        </div>
    <script src="js/lib/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/hw_factory.js"></script>
    <script src="js/controllers/main_controller.js"></script>

    </div>
  

  </body>
</html>